/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  
  /*MI CSS*/
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .container-fluid{
    padding: 0;
  }
    body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Courier New', Courier, monospace;
    }
    ul{
      list-style: none;
    }
    .my-section{
      margin: 0;
      padding: 0;
    }
    
 
  /*navbar*/

  .logo-color, .logo-white{
      height: 75px;
  }

  nav{
      background-color: #fff;
  }

  .my-nav-button{
    height:60px;
    width: 60px;
  }
  .my-button{
    background-color:#002242;
    border-bottom: 4px solid #0CC490;
    border-right: 4px solid #FAFF3A;
    border-radius: 0%;
    color: #fff;
    border-top: none;
    border-left: none;
  }
  .my-nav-a{
    color: #002242;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.05rem;
  }

  /*MAIN*/

  .my-main{
      padding-top: 100px;
      margin-bottom: 5%;
      padding-left: 0;
      padding-right: 0;
  }
  
  h1{
    font-family: 'Courier New', Courier, monospace;
    color: #0CC490;
    font-size: 3rem;
    font-weight: 700;
  }
  p{
    font-size: 1.05rem;
  }
  h2{  
    font-size: 1.7rem; 
  }
  .header-background {
    background-color: #0CC490;
    color: #fff;
    margin: 30px 0;
    padding: 15px 0;
    width: 100%;
    height: max-content;
  }
  h3{
    font-size: 1.2rem;
    color: #000;
  }
  .my-icon{
    font-size: 3.5rem;
    margin: 15px auto;
  }

  /*FAQs*/
  .faq-btn{
    color: #000;
    background-color: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #FCF9B5;
    width: 100%;
  }
  .faq-btn>i{
    color: #0CC490;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 600px){
    .faq-btn{
      font-size: 0.8rem;
    }
    .faq-title{
      font-size: 1.3rem;
    }
  }


  /*FORMS*/

  .login-form, .singup-form{
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
  }
  .my-input{
    border: none;
    padding: 5px 20px;
    font-size: 1.1rem;
  }
  .input-container{
      border-bottom: 2px solid #0CC490;
      margin-bottom: 10px;
      margin-top: 5px;
  }
  .my-form-button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 15px 30px;
    width: 100%;
  }
  /*ERRORS MESSAGES*/
  .errors-container>p{
    background-color: #FCF9B5;
    border-right: 3px solid #FAFF3A;
    border-bottom: 3px solid #FAFF3A;
    color: #002242;
    padding: 15px;
    margin: 10px;
  }
  /*SLIDE*/
  .my-slide-header{
    padding: 0 0 30px;
    margin: 0;
  }
  .slide-h1{
    color: #fff;
  }
  /*INSPIRACION PAGE*/
  .api-container{
    border-top: 3px solid #FCF9B5;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .random-word{
    font-size: 3rem;
  }
  .random-quote{ 
    font-size: 1.5rem;
  }

/*IMAGES GRID*/
.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.grid-column {
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .grid-column {
    flex: 49%;
    max-width: 49%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-column {
    flex: 99%;
    max-width: 99%;
  }
}

  /*FOOTER*/
  footer{
      background-color: #0CC490;
      color: #fff;
      font-size: 1.05rem;
      padding-top: 50px;
      margin-top: 50px;
      padding-bottom: 50px;
  }
  footer>div>ul>li{
      list-style: none; 
      margin-bottom: 5px;
  }
  .footer-a{
      color: #fff;
      text-decoration: none;
  }
  .logo-text{
      font-size: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 700;
  }
  .footer-title{
      font-weight: 700;
      border-bottom: 1px solid #fff;
      width: max-content;
      padding-top: 10px;
  }
  .footer-div{
    margin-left:0;
    margin-right: 0;
  }

